streamlit
moviepy==1.0.3
pytube==15.0.0
yt-dlp==2025.6.9
git+https://github.com/openai/whisper.git
torch==2.1.0
torchaudio==2.1.0
librosa==0.10.1
soundfile
transformers==4.38.1
imageio-ffmpeg
numpy<2.0
